**Pandas Practise---> Different ways of creating a dataframe**

In [2]:
import pandas as pd

**Reading a CSV File**

In [6]:
df=pd.read_csv(r"C:\Users\Dell\Downloads\weather_data.csv")

In [7]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

**Reading an Excel File**

In [9]:
df=pd.read_excel(r"C:\Users\Dell\Downloads\weather_data.xlsx")

In [10]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

**Reading using a Dictionary**

In [22]:
weather={"day":['1/1/2017','2/1/2017','3/1/2017','4/1/2017','5/1/2017'],
        "temperature":[32,28,26,33,30],
        "windspeed":[6,7,8,1,5],
        "event":["Rain","snow","rain","sunny","windy"]}

In [24]:
df=pd.DataFrame(weather)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           28          7   snow
2  3/1/2017           26          8   rain
3  4/1/2017           33          1  sunny
4  5/1/2017           30          5  windy

**Reading using a Tuple**

In [20]:
weather=[(1/1/2017,32,6,"Rain"),
        (2/1/2017,32,6,"Rain"),
        (3/1/2017,32,6,"Sunny"),
        (4/1/2017,32,6,"Rain")]

df=pd.DataFrame(weather,columns=["day","temp","speed","event"])
df

        day  temp  speed  event
0  0.000496    32      6   Rain
1  0.000992    32      6   Rain
2  0.001487    32      6  Sunny
3  0.001983    32      6   Rain

**Using List of Dictionaries**

In [21]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow